body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}

nav a:hover {
    text-decoration: underline;
}

/* styles.css */
.flashes {
    list-style: none;
    padding: 0;
}

.flashes li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.success {
    background-color: #4CAF50; /* green */
}

.error {
    background-color: #f44336; /* red */
}
